body {
    overflow: hidden;
}

.container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.flexcolumn{
    flex-direction: column;
}

#horizontal-slider{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
}
.vertical-slider {
    /* counterclockwise turn! */
    transform: rotate(-90deg);
    translate: 0 150px;
}

#humidity-slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(97, 116, 195); /* */
    height: 25px;
    width: 50%;
    background: rgb(215, 251, 251);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}

#humidity-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background-image: url(/waterDrop.png);
    background-size: 25px;
    cursor: pointer; /* Cursor on hover */
  }
  
#humidity-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
    background-image: url(/waterDrop.png);
}


#temperature-div {
    height: 200px;
}

#temperature-slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-image: linear-gradient(-90deg, rgb(223, 77, 89), rgb(227, 220, 174) );
  border-color: black;
}

#right-panel {
    width: 400px;
}

.leaf {
    position: absolute;
    z-index: 2;
    width: 100px;
    animation: leafmovement 12s linear infinite;
}

@keyframes leafmovement{
  0% {transform: translate(0,0) rotate(0)}
  20% {transform: translate(15vw, 10vh) rotate(85deg)} 
  65% {transform: translate(55vw, 12vh) rotate(550deg)}
  80% {transform: translate(70vw, 17vh) rotate(740deg)}
  100% {transform: translate(100vw, 25vh) rotate(920deg)}
}


#humidity-filter {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    opacity: 0.5;

}

.rain {
    position: absolute;
    z-index: 2;
    width: 100vw;
    animation: rainmovement 2s linear infinite;
    opacity: 20%;
}

@keyframes rainmovement{
    0% {transform: translate(0,0)}
    100% {transform: translate(0,100vh)}
}

#arrow {
    position: absolute;
    z-index: 2;
    right: 400px;
    bottom: 400px;
    width: 4vw;
    height: 18vh;
}

#ground-rain {
    background-color: rgb(0, 110, 255);
    width: 100vw;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
    
}